html{
   font-family: sans-serif;
   font-size: 16px;
   line-height: 1.5rem;
   color:#faebd7;
}

body{
   background-color:#387578;
   margin: auto;
   text-align: center;
}

form{
   width: 80dvw;
   border-radius: 2%;
   border-color:cornflowerblue ;
   border-width: 5px;
   background-color: #346BBD;
   margin: auto;
   padding-top: 1%;
   padding-bottom: 1%;
}

.form-block{
   margin: 1.5rem auto;
}

.block{
   text-align:left;
   display: inline-block;
   min-width: 60dvw;
   max-width: 60dvw;
   margin: 0 auto;
}

input[type=radio]{
   margin: 0;
}

.optional{
   font-size: 0.75rem;
   vertical-align:middle;
}

textarea{
   min-width: 60dvw;
   max-width: 60dvw;
   resize: none;
   height: auto;
   color:slategrey;
}

input[type=submit]{
   font-size: 1.25em;
   line-height: 2em;
   color: #faebd7;
   border-width: 0;
   background-color: #387578;
   width: 60dvw;
}